<nav class="todonav">
    <div>
        <h1>Todo</h1>
    </div>
    <div>
        <form action="" method="get">
            <input type="text" name="q" placeholder="Search Todo...">
            <input type="submit" value="search">
        </form>
        
    </div>
    <div>
        {% if request.user.is_authenticated %}
        {{ user.username|capfirst }}
        <a href="{% url 'logout' %}"> logout</a>

        {% else %}
        <a href="{% url 'login' %}">login</a>
        
        <a href="{% url 'signup' %}">signup</a>

        {% endif %}
    </div>
    <div>
       
        <!-- <form action="{% url 'todolist' %}">
            <input type="text" placeholder="Search" name="q">
        </form> -->
        <ul>
            <li> <a href="{% url 'todolist' %}">Home</a></li>
            <li><a href="{% url 'addtodo' %}">Create</a></li>
        </ul>
    </div>
</nav>